{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<body>
    <header>
        
            <div class="container-fluid logo">
              <div>
                <img class="" src="{{ asset('images/diamante.png') }}" alt="" width="35" height="35" class="d-inline-block ">
              </div>
                
              </a>
            </div>
    </header>
    
    <Main>
        <div class="main-pri">
            <div class="left-nav">
                <a style="margin-top: 20px;" href="{{ path('app_ganho') }}">
                    <img class="fotos" src="{{ asset('images/receita.png') }}" width="35" height="35" alt="">
                </a>

                <a href="{{ path('app_despesa') }}">
                    <img class="fotos" src="{{ asset('images/dinheiro.png') }}" width="35" height="35" alt="">
                </a>

                <a href="{{ path('app_cliente') }}">
                    <img class="fotos" src="{{ asset('images/contatos.png') }}" width="35" height="35" alt="">

                </a>

                <a href="{{ path('app_fornecedor') }}">
                    <img class="fotos" src="{{ asset('images/caminhao.png') }}" width="35" height="35" alt="">

                </a>

                <a href="{{ path('app_categoria') }}">
                    <img class="fotos" src="{{ asset('images/opcoes.png') }}" width="35" height="35" alt="">

                </a>

            </div>

            <div class="center-column" >

                <div style="background-color: white; height:100%; margin:10px" class="conteiner-fluid">
                    <div class="menu-um">

            
                        <div class="projetos">
                            <h4>Despesas</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        
                                        <th>Nome</th>
                                        <th>Valor</th>
                                        
                                        <th>Vencimento</th>
                                        <th>Pago</th>
                                        
                                    </tr>
                                </thead>
                            </table>


                            
        
                        </div>
        
                        <div class="eventos">
                            <h4>Fornecedores</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>Telefone</th>
                                        <th>Cnpj</th>
                                       
                                        
                                    </tr>
                                </thead>
                            </table>

                            



        
                        </div>
                    
                    </div>
        
                    <div class="menu-dois">
                        <div class="clientes-recentes">
                           <h4>Receitas</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    
                                    <th>Nome</th>
                                    <th>Valor</th>
                                    <th >Vencimento</th>
                                    <th>Recebido</th>
                                    
                                </tr>
                            </thead>
                            
                        </table>



        
                        </div>
        
                        <div class="aniv">
                            <H4>Clientes</H4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>Telefone</th>
                                        <th>Cpf</th>
                                       
                                        
                                    </tr>
                                </thead>
                            </table>




        
                        </div>
                        
            
                    </div>


                </div>
            </div>
        </div>

    </Main>

    <footer>

    </footer>
</body>
</html>



{% endblock %}
